@model material

<div>
	<form  asp-action="Update" asp-controller="Materials">
		<div class="Validation" asp-validation-summary="All"></div>
		<div>
			<label asp-for="name_material">Введите имя</label>
			<input type="text" asp-for="name_material"></input>
		</div>

		
		<div>
			<input type="submit" value="Изменить"></input>
		</div>
	</form>
</div>